/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

.dynamic-width {
  width: var(--width-size);
}

.header {
  margin-top: 100px;
  background-color: #ffffff;
  border: solid black 2px;
  justify-self: center;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: clamp(7.5rem, 6.923rem + 2.462vw, 8rem) clamp(0.875rem, -6.805rem + 32.769vw, 7.531rem);
}

.logo-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  font-weight: 400;
  line-height: 100%;  
  text-transform: uppercase;
  text-align: center;
  vertical-align: bottom;
}

.header__paragraph {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

main {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.post-container {
  margin-top: 50px;
  background-color: #ffffff;
  justify-self: center;
  border: solid black 2px;
}

.card-title {
  padding: 5px 50px 3px 10px;

  font-family: var(--main-font);
  font-variation-settings: "wght" var(--card-title-font-weight);

  font-size: 18px;
  line-height: 121%;
  vertical-align: middle;
}

.before-stage {
  filter: blur(5px);
}

.first-sprint-begin {
  filter: saturate(2.2);
}

.first-sprint-end {
  filter: brightness(30%);
}

.second-sprint-begin {
  filter: contrast(250%);
}

.second-sprint-end {
  filter: grayscale(80%);
}

.third-sprint-begin {
  filter: hue-rotate(0.5turn);
}

.third-sprint-end {
  filter: contrast(175%) brightness(103%);
}

.here-im {
  filter: hue-rotate(0.1turn);
}

.card-picture {
  position: relative;
  block-size: clamp(23.438rem, 0rem + 100vw, 43.75rem);

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  /* background-size: cover; */
  overflow: hidden;
  width: 100%;
  /* object-fit: cover; */
}

.card-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;

  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;

  color: rgb(0, 0, 0, 0.5);

  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #c3b8b8) or (-webkit-text-stroke: 1px #c3b8b8)) {
  .label {
    -webkit-text-stroke: 1px #c3b8b8;
    text-stroke: 1px #c3b8b8;
    text-shadow: none;
    color: rgb(0, 0, 0, 0.5);
  }
}

.content {
  padding: 25px 25px 22px 25px;

  display: flex;
  flex-direction: column;
}

.card-text {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--card-text-font-weight);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
}

.content .card-text:last-of-type {
  margin-bottom: 21px;
}

.like-button {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.common-button {
  position: relative;
  border: 2px solid black;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  background-color: white;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.common-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--contour-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  mix-blend-mode: difference;
  color: white;
  position: relative;
  z-index: 1;
  align-self: center;
}

.common-button::after {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.common-button:hover::after {
  transform: scaleX(1);
}

.common-button:hover {
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon {
  margin-top: 3px;
  transform-origin: center;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.save-button {
  padding: none;
  box-sizing: border-box;

  width: 335px;
  height: 55px;

  margin-top: 50px;
  margin-bottom: 52px;

  display: flex;

  justify-self: center;
  justify-content: center;

  gap: 7px;

  border: 2px solid black;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;

  background-color: #ffffff;
}

.floppy-icon-small {
  width: 21px;
  height: 21px;
  align-self: center;
  mix-blend-mode: difference;
  fill: white;
  z-index: 1;
  flex-shrink: 0;
}

.save-floppy-dialog {
  width: 353px;
  height: 191px;
  padding: 30px;
}

.save-floppy-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.floppy-icon-big {
  width: 39px;
  height: 39px;
  align-self: center;
  flex-shrink: 0;
}

.dialog-button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-label {
  display: flex;
  gap: 20px;
}

.dialog-button {
  width: 293px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;

  border: 2px solid black;
  padding: 11px 116.5px;
  background-color: #ffffff;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--card-text-font-weight);
  }

  .card-title {
    font-variation-settings: "wght" var(--card-title-font-weight);
  }

  .card-text {
    font-variation-settings: "wght" var(--card-text-font-weight);
  }

}

@media (width <= 375px) {
  .save-button {
    width: 306px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .floppy-icon-small {
    width: 28px;
    height: 28px;
  }

  .save-floppy-dialog {
    box-sizing: border-box;
    width: 341px;
    height: 191px;
    padding: 30px 40px;
  }

  .dialog-label {
    width: 261px;
  }

  .dialog-button {
    width: 261px;
  }
}
